@media screen and (max-width: 480px) {
  .header{
    .my{
      max-width: 90%;
      &-title{
        font-size: 22px;
        margin-bottom: 10px;
      }
      &-description{
        font-size: 14px;
      }
    }
    .head-image{
      margin-top: 10px;
    }
  }
}