@media screen and(max-width: 1024px) {
  .header{
    .my{
      max-width: 600px;
      &-title{
        font-size: 30px;
      }
      &-description{
        font-size: 17px;
        line-height: 1.2em;
      }
    }
  }
}